@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    background-color: #fff;
    min-height: 100vh;
    font-family: 'Raleway', 'Arial', sans-serif;
}

.box{
    position: relative;
    width: 100%;
    height: 375px;
    background-color: #435a6b;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1167px;
    height: 55px;
}

.one{
    position: relative;
    margin: 15px 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1.35em;
    cursor: pointer;
}

.one::before{
    content: '[';
    display: inline-block;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translate(15px);
}

.one::after{
    content: ']';
    display: inline-block;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translate(-15px);
}

.one:hover::before{
    transform: translate(-10px);
    opacity: 1;
}

.one:hover::after{
    transform: translate(10px);
    opacity: 1;
}

/* box-1 end */
/* box-2 end */

.box-2{
    position: relative;
    width: 100%;
    height: 375px;
    background-color: #3fa46a;
}

.main-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1167px;
    height: 65px;
}

.two{
    position: relative;
    margin: 15px 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.35em;
    cursor: pointer;
}

.two::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.two:hover::after{
    bottom: -20px;
    opacity: 1;
    height: 4px;
}

/* box-2 end */
/* box-3 start */

.box-3{
    position: relative;
    width: 100%;
    height: 375px;
    background-color: #ecf0f1;
}

.main-3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1167px;
    height: 77px;
}

.three{
    margin: 25px 35px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
    color: #566473;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.35em;
}

.three::after{
    content: '';
    width: 100%;
    height: 3px;
    display: inline-block;
    background-color: #566473;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease;
}

.three::before{
    content: '';
    width: 100%;
    height: 3px;
    display: inline-block;
    background-color: #566473;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease;
}

.three:hover::after{
    transform: scale(1.2);
}

.three:hover::before{
    transform: scale(1.2) translateY(-35px);
}

/* box-3 end */
/* box-4 start */

.cover{
    background-color: #16a085;
    width: 100%;
    height: 375px;
    position: relative;
    top: 0;
    left: 0;
}

.main-4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1167px;
    height: 50px;
}

.content{
    width: 200px;
    height: 45px;
    padding: 10px 20px;
    perspective: 1000px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;   
    margin-right: 25px;
}

.cube{
    width: 200px;
    height: 45px;
    background-color: #0f7c67;
    color: #fff;
    text-align: center;
    font-size: 1.35em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    transform: translate3d(0, 0, 0);
    transition: all 0.3s ease;
}

.left {
    transform: translate3d(-200px, 0, 0px);
    background-color: #fff;
    color: #0f7c67;
    transition: all 0.3s ease;
}

.content:hover .front{
    transform: translate3d(200px, 0, 0);
}

.content:hover .left{
    transform: translate3d(0, 0, 0);
}

/* box-4 end */
/* box-5 start */

.cover-1{
    background-color: #f19f0f;
    width: 100%;
    height: 375px;
    position: relative;
    top: 0;
    left: 0;
}

.content-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1167px;
    height: 55px;
}

.text-unknown{
    width: 135px;
    height: 25px;
    margin: 15px 25px;
    transition: all 0.3s ease;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.35em;
}

.text-unknown:hover {
    color: #000;
}

.dot-one{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.5s ease;
    opacity: 0;
}
.dot-two{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.5s ease;
    opacity: 0;
}
.dot-three{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.5s ease;
    opacity: 0;
}

.text-unknown:hover .dot-one{
    margin-left: -10px;
    opacity: 1;
}

.text-unknown:hover .dot-two{
    opacity: 2;
}

.text-unknown:hover .dot-three{
    margin-left: 10px;
    opacity: 1;
}

/* box-6 end */
/* box-7 start */

.cover-2{
    background-color: #cd4436;
    width: 100%;
    height: 375px;
    position: relative;
    top: 0;
    left: 0;
}

.content-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1167px;
    height: 43px;
}

.content-2{
    width: 200px;
    height: 43px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.3s ease;
    margin-right: 25px;
}

.cube-1{
    width: 200px;
    height: 45px;
    background-color: #e35041;
    color: #fff;
    text-align: center;
    font-size: 1.35em;
    padding: 10px 14px;
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
}

.front-1 {
    transform: translate3d(0, 0, 100px);
}

.right-1 {
    transform: translate3d(100px, 0, 0) rotateY(90deg);
}

.content-2:hover{
    transform: rotateY(-90deg);
}

/* box-6 end */
/* box-7 start */

.box-data{
    background-color: #aab7b7;
    width: 100%;
    height: 375px;
    position: relative;
    top: 0;
    left: 0;
}

.box-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1167px;
}

.last{
    background-color: transparent;
    color: #708586;
    position: relative;
    margin-right: 70px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.35em;
}
  
.inner{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-14px) translateX(8px) rotate(8deg);
    transition: all 0.4s ease;
    opacity: 0;
    color: #fff;
  }
  .last:hover .inner{
    opacity: 1;
    transform: translateY(0px);
  }